.well
  %table.table
    %tr
      %th
        = t('views.dashboard.inbound_invoices.expenses')
      %th
    %tr
      %td
        = t('views.dashboard.inbound_invoices.net')
      %td
        %span.pull-right
          = number_to_currency @inbound_invoices_totals.taxable_income
    %tr
      %td
        = t('views.dashboard.inbound_invoices.vat')
      %td
        %span.pull-right
          = number_to_currency @inbound_invoices_totals.tax
    %tr
      %td
        = t('views.dashboard.inbound_invoices.total')
      %td
        %span.pull-right
          = number_to_currency @inbound_invoices_totals.total