%h1
  Dashboard
  %table
    %tr
      %th
        Outbound
      %th
    %tr
      %td
        Fatturato
      %td
        = @invoices_totals.taxable_income
    %tr
      %td
        Iva
      %td
        = @invoices_totals.tax
    %tr
      %td
        Totale
      %td
        = @invoices_totals.total
    %tr
      %td
        Da incassare
      %td
        = @to_receive
  %table
    %tr
      %th
        Trimestri
      %th
    %tr
      %td
        1
      %td
        = @quarters.q1
    %tr
      %td
        2
      %td
        = @quarters.q2
    %tr
      %td
        3
      %td
        = @quarters.q3
    %tr
      %td
        4
      %td
        = @quarters.q4


  %table
    %tr
      %th
        Spese
      %th
    %tr
      %td
        Netto
      %td
        = @inbound_invoices_totals.taxable_income
    %tr
      %td
        Iva
      %td
        = @inbound_invoices_totals.tax
    %tr
      %td
        Totale
      %td
        = @inbound_invoices_totals.total
  %table
    %tr
      %th
        Cliente
      %th
        Fatturato
    - @perCustomer.each do |c|
      %tr
        %td
          c.id
        %td 
          c.value.value
     
        


  = content_for :side_bar do
    .well.sidebar-nav
      = link_to 'nuova fattura', new_invoice_path , {:class => 'btn btn-primary'}
      = link_to 'nuova fattura inbound', new_inbound_invoice_path , {:class => 'btn btn-primary'}
      
        