.well
  %table.table
    %tr
      %th
        = "In #{AppSettings.fiscal_year}" 
      %th
    %tr.info
      %td
        %span.text-success
          = t('views.dashboard.invoiced.invoiced')
      %td
        %span.pull-right.text-success
          = number_to_currency @invoices_totals.taxable_income
    %tr
      %td
        = t('views.dashboard.invoiced.vat')
      %td
        %span.pull-right
          = number_to_currency @invoices_totals.tax
    %tr
      %td.italic
        = t('views.dashboard.invoiced.total')
      %td
        %span.pull-right        
          = number_to_currency @invoices_totals.total
    %tr.error
      %td
        %span.text-info
          = t('views.dashboard.invoiced.to_get')
      %td
        %span.pull-right.text-info
          = number_to_currency @to_receive
