.well
  %table.table
    %tr
      %th
        Avanzamento commesse
      %th
      %th
    - @job_orders.each do |j|
      %tr
        %td
          = j.code
        %td
          %span.pull-right
            = "#{j.total_executed_hours}/#{j.total_estimated_hours}"
            .text-muted
              %span.pull-right
                = "#{j.percent}%"
        %td{:style => "width:400px"}
          .progress
            .progress-bar{:style => "width:#{j.percent}%", :class => job_order_status_helper(j)}
