.well
  %table.table
    %tr
      %th
        = t('views.dashboard.quarters.invoiced')
      %th
    %tr
      %td
        1
      %td
        %span.pull-right
          = number_to_currency @quarters.q1
    %tr
      %td
        2
      %td
        %span.pull-right
          = number_to_currency @quarters.q2
    %tr
      %td
        3
      %td
        %span.pull-right
          = number_to_currency @quarters.q3
    %tr
      %td
        4
      %td
        %span.pull-right
          = number_to_currency @quarters.q4