.row
  .col-lg-12
    %h1
      = "#{t('views.activities.title')} #{current_user.name}"
.row{'ng-controller' => 'UserActivitiesCtrl'}
  .col-lg-9
    #activityPage
      %form.well.form-inline{:method => 'POST', :action => '/user_activities/index'}
        .form-group
          %label
            = t('views.activities.month')
          = select_month @filter_date, {add_month_numbers: false, :use_short_month => true}, {name: 'month', :class => 'form-control', 'ng-model' => 'month'}
        .form-group
          %label
            = t('views.activities.year')
          = select_year @filter_date, {add_month_numbers: false}, {name: 'year', :class => 'form-control', 'ng-model' => 'year'}
        .form-group
          %label
            = t('views.activities.user')
          = select_tag 'user', options_from_collection_for_select(@users, "id", "email"), 'ng-model' => 'user', 'ng-init' => "user='#{@current_user.id}'", :class => 'form-control'
        %button.btn.btn-info.pull-right{:type => 'button', 'ng-click' => 'filter()'} 
          = t('views.activities.apply')

      %table.table.table-bordered
        %thead
          %tr
            %th
            %th 
              = t('views.activities.date')
            %th
              = t('views.activities.hours')
            %th
              = t('views.activities.job_order')
            %th
              = t('views.activities.activity')
            %th
              = t('views.activities.notes')
                         
            %th
        %tbody

          %tr{'ng-repeat' => 'a in activities', 'row-color' => '{{$index}}', 'ng-style' => 'getRowStyle(a)'}
            %td{:class => 'expenses-column'}
              %i.icon-money{'ng-show' => 'a.expenses'}
            %td
              %span
                {{a.date | date:'dd-MM-yyyy'}}
              %br
              %small.grey{'ng-bind' => 'getDay(a.date)'}
               
            %td {{a.hours}}
            %td {{a.jobOrder}}
            %td {{a.activity}}
            %td {{a.description}}
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
                  = t('views.activities.actions') 
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href => "#editActivity", "ng-click"=> "edit(a.id)", "data-toggle"=>"modal"}
                      %i.icon-edit.icon-large
                      = t('views.activities.edit')
                  %li
                    %a{:href => "#", "ng-click"=> "delete(a.id)"}
                      %i.icon-trash.icon-large.text-error
                      = t('views.activities.delete')
                  %li.divider
                  %li
                    %a{:href => "/expenses/new?user_activity_id={{a.id}}"}
                      %i.icon-money.icon-large
                      = t('views.activities.add_expense')
                  %li
                    %a{:href => "/expenses?user_activity_id={{a.id}}"}
                      %i.icon-euro.icon-large
                      = t('views.activities.expense_list')
           
              
  .col-lg-3.sidebar-nav{'ng-controller' => 'RightPanelCtrl'}
    .row.sidebar-row
      %a.btn.btn-info.btn-block#openModal{:href => '#editActivity', 'ng-click' => 'newActivity()', "data-toggle"=>"modal"}
        = t('views.activities.new_activity')
      %a.btn.btn-info.btn-block#openModal{:href => '/weekly_activities'}
        = t('views.activities.weekly_activities')
      %a.btn.btn-default.btn-block#report{"href" => '/user_activities/report.xls?month={{month}}&year={{year}}&user={{user}}'}
        = t('views.activities.report')
      %a.btn.btn-default.btn-block#report2{"href" => '/user_activities/report_2.xls?month={{month}}&year={{year}}&user={{user}}'}
        = t('views.activities.report_2')  
      -# %a.btn.btn-default.btn-block#report_tutti{"href" => '/user_activities/report_presenze.xls?month={{month}}&year={{year}}&user={{user}}'}
      -#   Report presenze tutti  
      %iframe#frm{:style => "display:none"}
    .row.sidebar-row
      .panel.panel-default
        .panel-heading
          %h3.panel-title.text-center 
            = t('views.activities.summary')
        .panel-body
          %ul#stats.info-panel
            %li.header 
              = t('views.activities.today')
            %li.amount {{todayHours}} h
            %li.header 
              = t('views.activities.yesterday')
            %li.amount {{yestardayHours}} h
            
    
#editActivity.modal.fade{'ng-controller' => 'UserActivityCtrl'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', 'data-dismiss' => 'modal'} &times;
        %h3 
          = t('views.activities.new_activity')
      .modal-body
        %form{"data-bind" => "submit: save", :role => 'form'}
          = hidden_field_tag 'id', '', :data => {:bind => "value: id"}
          .row
            .col-lg-6
              .form-group
                %label 
                  Tipo attività
                = select_tag :job_order, '', 'ng-model' => 'activity.user_activity_type_id', 'ng-options' => 'a.id as a.description for a in activityTypes', :class => 'form-control'
            .col-lg-6
              .form-group
                
          .row
            .col-lg-6
              .form-group
                %label 
                  = t('views.activities.job_order')
                = select_tag :job_order, '', 'ng-model' => 'activity.job_order_id', 'ng-options' => 'j.id as j.code for j in jobOrders', :class => 'form-control', 'ng-disabled' => '!jobOrderEnabled()'
            .col-lg-6
              .form-group
                %label
                  = t('views.activities.activity')
                = select_tag :activity, '', 'ng-model' => 'activity.job_order_activity_id', 'ng-options' => 'j.id as j.description for j in jobOrderActivities', :class => 'form-control', 'ng-disabled' => '!jobOrderEnabled()'
          .row
            .col-lg-6
              .form-group
                %label 
                  = t('views.activities.hours')
                = text_field_tag 'hours', '', :class => 'input-small', 'ng-model' => "activity.hours", :class => 'form-control'
            .col-lg-6
              .form-group
                %label 
                  = t('views.activities.date')
                = text_field_tag 'date', '', :class => 'input-small', 'ng-model' => "activity.date", "b-datepicker" => "", :class => 'form-control'
          .row
            .col-lg-12
              .form-group
                %label 
                  = t('views.activities.notes')
                = text_area_tag :description, '', 'ng-model' => "activity.description", :class => 'form-control'
              
      .modal-footer
        %a.btn.btn-default{'data-dismiss' => 'modal'} 
          = t('views.activities.cancel')
        %button.btn.btn-info{:type => 'submit', 'data-dismiss' => 'modal', 'ng-click' => 'save()'} 
          = t('views.activities.save')    
    
