%h1
  = "Attività di #{current_user.name}"

#activityPage
  %fieldset
    %legend &nbsp;
    %form.well.form-inline{:method => 'POST', :action => '/user_activities/index'}
      Mese:
      = select_month @filter_date, {add_month_numbers: false, :use_short_month => true}, {name: 'month', :class => 'input-small', 'data-bind' => 'value: month'}
      &nbsp;&nbsp;Anno
      = select_year @filter_date, {add_month_numbers: false}, {name: 'year', :class => 'input-small', 'data-bind' => 'value: year'}
      &nbsp;&nbsp;Utente
      = select_tag 'user', options_from_collection_for_select(@users, "id", "email", :selected => @current_user.id), 'data-bind' => 'value: user'
      &nbsp;&nbsp;
      %button.btn{:type => 'button', 'data-bind' => 'click: reload'} filtra

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Data
        %th Ore
        %th Commessa
        %th Attività
        %th Note
        %th
    %tbody{"data-bind" => "{foreach: activities}"}
      %tr{"data-bind"=>"{visible: isVisible, attr: {class: background}}"}
        %td{"data-bind"=>"{dateString: date}"}
        %td{"data-bind"=>"{text: hours}"}
        %td{"data-bind"=>"{text: jobOrder}"}
        %td{"data-bind"=>"{text: activity}"}
        %td{"data-bind"=>"{text: description}"}
        
        %td
          %a{:href => "#", "data-bind"=> "{click: removeActivity}"}
            %i.icon-trash
       


#newActivity.modal.hide.fade
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'} &times;
    %h3 Nuova attività
  .modal-body
    %form.well.form-inline{"data-bind" => "submit: save"}
      .row
        .span3
          .field.control-group
            Commessa
            .controls
              = select_tag :job_order, '', :data => {:bind => "value: jobOrder, options: jobOrders, optionsValue : 'id', optionsText: 'code'"}
        .span3
          .field.control-group
            Attività
            .controls
              = select_tag :activity, '', :data => {:bind => "value: activity, options: jobOrderActivities, optionsValue : 'id', optionsText: 'description'"}
      .row
        .span3
          .field.control-group
            Data
            .controls
              = text_field_tag 'date', '', :class => 'isdate input-small', :data => {:bind => "value: date"}
        .span3
          .field.control-group
            Ore
            .controls
              = text_field_tag 'hours', '', :class => 'input-small', :data => {:bind => "value: hours"}
      .row
        .span6
          .field.control-group
            Note
            .controls
              = text_area_tag :description, '', :data => {:bind => "value: description"}
          
  .modal-footer
    %a.btn{'data-dismiss' => 'modal'} annulla
    %button.btn.btn-primary{:type => 'submit', 'data-bind' => 'click:save'} salva    
    
= content_for :side_bar do
  .well.sidebar-nav
    %ul.info-panel
      %li
        %a.btn.btn-primary{"data-toggle" => "modal", :href => '#newActivity'}
          Nuova attività
      %li
        %a.btn#report{:href => '/user_activities/report.xls'}
          Genera report
    %iframe#frm{:style => "display:none"}
    %hr
    %ul#stats.totals.info-panel  
      %li Oggi
      %li.amount{"data-bind"=>"text: today_hours_txt"}
      %li Ieri
      %li.amount{"data-bind"=>"text: yesterday_hours_txt"}
 