= form_for @invoice, {:html => {:role => "form"}} do |f|
  = f.hidden_field :status
  .row
    .col-lg-6
      .form-group
        = f.label :number
        = f.text_field :number, :class => 'form-control'
      .form-group
        = f.label :customer
        = select_tag "invoice[customer_id]", options_from_collection_for_select(@customers, "id", "name", @invoice.customer.id), :class => 'form-control'
      .form-group
        = f.label :due_date
        = f.text_field :due_date, :class => 'isdate form-control', :value => @invoice.string_due_date
      .form-group
        = f.label :notes
        = f.text_area :notes, :cols => 20, :rows => 3, :class => 'form-control'
    .col-lg-6
      .form-group
        = f.label :date
        = f.text_field :date, :class => 'isdate form-control', :value => @invoice.string_date
      .form-group
        = f.label :is_payed
        = f.check_box :is_payed, :class => 'form-control'
      .form-group
        = f.label :has_tax
        = f.check_box :has_tax, :class => 'form-control'
      .form-group
        = f.label :status
        = f.select :status, {:temporary => 1, :active => 2}, :class => 'form-control'
  .row
    .col-md-12
      %fieldset
        %legend 
          %a.new-item.btn.btn-primary{:href=>'#'} 
            %i{:class => 'icon-plus icon-white'}
            nuova riga 
        %table.items
          %tr
            %td descrizione
            %td importo
            %td 
          = f.fields_for :invoice_items do |i|
            %tr
              %td
                = i.text_field :description, {:class => 'input-xxlarge'}
              %td
                = i.text_field :amount, {:class => 'amount input-small'}
              %td
                = i.hidden_field :_destroy
                %a{:href => '#', :class => 'btn-mini btn remove-item'}
                  %i{:class => 'icon-trash'}
