.well.sidebar-nav
  %ul.totals.info-panel
    %li Imponibile
    %li#taxable-income.amount
      = number_to_currency(@totals.taxable_income)
    %li IVA
    %li#tax.amount
      = number_to_currency(@totals.tax)
    %li Totale
    %li#total.amount
      = number_to_currency(@totals.total)    
  %hr
  %ul.totals.info-panel
    %li
      Info
    %li
      = status_helper(@invoice.status)
    %li
      = due_date_helper(@invoice)
  %hr
  %ul.info-panel
    %li
      %a.btn.btn-primary#save-form salva


  


 