%h1
  Invoice!
%buttons
  = link_to 'nuova fattura', new_invoice_path
%table.table.table-striped
  %thead
    %tr
      %td Numero
      %td Data
      %td Cliente
      %td.right Imponibile
      %td.right Iva
      %td.right Totale
  %tbody
    -@invoices.each do |i|
      %tr
        %td 
          = link_to i.number, edit_invoice_path(i)
        %td 
          = i.date
        %td
          = i.customer.name
        %td.right
          = number_to_currency(i.taxable_income)
        %td.right
          = number_to_currency(i.tax)
        %td.right
          = number_to_currency(i.total)