%h1
  Invoice!
%buttons
  = link_to 'nuova fattura', new_invoice_path
%table.table-striped
  %thead
    %tr
      %td Numero
      %td Data
      %td Cliente
      %td Imponibile
      %td Iva
      %td Totale
  %tbody
    -@invoices.each do |i|
      %tr
        %td 
          = i.number
        %td 
          = i.date
        %td
          = i.customer.name
        %td
          = i.taxable_income
        %td
          = i.tax
        %td
          = i.total