%h1
  Invoices
%table.table.table-striped
  %thead
    %tr
      %td Numero
      %td Data
      %td Cliente
      %td.right Imponibile
      %td.right Iva
      %td.right Totale
  %tbody
    -@invoices.each do |i|
      %tr
        %td 
          = link_to i.number, edit_invoice_path(i)
        %td 
          = i.date
        %td
          = i.customer.name
        %td.right
          = number_to_currency(i.taxable_income)
        %td.right
          = number_to_currency(i.tax)
        %td.right
          = number_to_currency(i.total)

  = content_for :side_bar do
    .well.sidebar-nav
      = link_to 'nuova fattura', new_invoice_path , {:class => 'btn btn-primary'}
      %h3 Totals
      %table
        %tr
          %td Taxable income:
          %td.right
            = number_to_currency(@taxable_income)
        %tr
          %td Tax:
          %td.right
            = number_to_currency(@tax)
        %tr
          %td Total:
          %td.right
            = number_to_currency(@total)
        