%h1
  Fatture
%table.table.table-striped.table-bordered
  %thead
    %tr
      %td Numero
      %td Data
      %td Cliente
      %td.right Imponibile
      %td.right Iva
      %td.right Totale
      %td Pagata
      %td Stato
      %td 
  %tbody
    -@invoices.each do |i|
      %tr
        %td 
          = i.number
        %td 
          = i.date.strftime('%d-%m-%Y') unless i.date.nil?
          - if i.is_in_late?
            %span.badge.badge-important !
        %td
          = i.customer.name
        %td.right
          = number_to_currency(i.taxable_income)
        %td.right
          = number_to_currency(i.tax)
        %td.right
          = number_to_currency(i.total)
        %td
          -if i.is_payed
            %span.label.label-success si
          - else
            %span.label.label-warning no
        %td 
          = status_helper(i.status)
          - if i.status == Invoice.temporary
            %a{:href => invoice_activate_path(i)}
              %i.icon-share
        %td
          %a{:href => edit_invoice_path(i)}
            %i.icon-edit
          %a{:href => invoice_path(i)} 
            %i.icon-file
          %a{:href=> invoice_path(i), :class => 'delete' } 
            %i.icon-trash

  = content_for :side_bar do
    .well.sidebar-nav
      = link_to 'nuova fattura', new_invoice_path , {:class => 'btn btn-primary'}
      %hr
      %ul.totals.info-panel
        %li Imponibile
        %li.taxable-income.amount
          = number_to_currency(@totals.taxable_income)
        %li IVA
        %li.tax.amount
          = number_to_currency(@totals.tax)
        %li Totale
        %li.total.amount
          = number_to_currency(@totals.total)
        