%h1
  Invoices
%table.table.table-striped
  %thead
    %tr
      %td Numero
      %td Data
      %td Cliente
      %td.right Imponibile
      %td.right Iva
      %td.right Totale
      %td 
  %tbody
    -@invoices.each do |i|
      %tr
        %td 
          = link_to i.number, edit_invoice_path(i)
        %td 
          = i.date
        %td
          = i.customer.name
        %td.right
          = number_to_currency(i.taxable_income)
        %td.right
          = number_to_currency(i.tax)
        %td.right
          = number_to_currency(i.total)
        %td
          %a{:href => invoice_path(i)} 
            %i.icon-file
          %a{:href=> invoice_path(i), :class => 'delete' } 
            %i.icon-trash

  = content_for :side_bar do
    .well.sidebar-nav
      = link_to 'nuova fattura', new_invoice_path , {:class => 'btn btn-primary'}
      %ul.totals
        %li Taxable income:
        %li.taxable-income.amount
          = number_to_currency(@totals.taxable_income)
        %li Tax:
        %li.tax.amount
          = number_to_currency(@totals.tax)
        %li Total:
        %li.total.amount
          = number_to_currency(@totals.total)
        