%h1 new

= form_for @invoice do |f|
  -if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this foo from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :number
    = f.text_field :number
  .field
    = f.label :date
    = f.text_field :date
  .field
    = f.label :customer
    = f.select :customer, @customers
  .field
    = f.label :has_tax
    = f.check_box :has_tax
  .field
    = f.label :is_sent
    = f.check_box :is_sent
  .field
    = f.label :is_payed
    = f.check_box :is_payed
  %fieldset
    %legend items
    %table
      %tr
        %td description
        %td amount
      = f.fields_for :invoice_items do |i|
        %tr
          %td
            = i.text_field :description
          %td
            = i.text_field :amount
        
    
  .actions
    = f.submit 'Save'
