.row
  = form_for @job_order, {:html => {:class => 'form-horizontal'}} do |f|
    .span8
      .field.control-group
        = f.label :code, :class => 'control-label'
        .controls
          = f.text_field :code, :class => 'span2'
      .field.control-group
        = f.label :customer, :class => 'control-label'
        .controls
          = select_tag "job_order[customer_id]", options_from_collection_for_select(@customers, "_id", "name", @job_order.customer._id)
      .field.control-group
        = f.label :hourly_rate, :class => 'control-label'
        .controls
          = f.text_field :hourly_rate, :class => 'span1'
      .field.control-group
        = f.label :notes, :class => 'control-label'
        .controls
          = f.text_area :notes, :class => 'span2', rows: 3
        .field.control-group
          = f.label :archived?, :class => 'control-label'
          .controls
            = f.check_box :archived?, :class => 'span2'
    %fieldset
      %legend 
        Activities
        %a.new-item{:href=>'#', :class => 'btn'} 
          %i{:class => 'icon-plus'}
            new activity
        %table.activities
          %tr
            %td description
            %td estimated hours
            %td 
          = f.fields_for :activities do |a|
            %tr
              %td
                = a.text_field :description, {:class => 'span5'}
              %td
                = a.text_field :estimated_hours, {:class => 'amount span1'}
              %td
                = a.hidden_field :_destroy
                %a{:href => '#', :class => 'btn-mini btn-danger remove-item'}
                  %i{:class => 'icon-minus'}
      .actions
        = f.submit 'Save', :class => 'btn btn_primary'
