%h1
  = "Attività della commessa #{@job_order.code}"
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Codice
      %th Data
      %th Ore
      %th Utente
      %th Note
      
  %tbody
    -@user_activities.each do |a|
      %tr
        %td 
          = a.job_order_activity.description
        %td
          = a.date
        %td
          = a.hours
        %td
          = a.user.name
        %td
          = a.description

  = content_for :side_bar do
    .well.sidebar-nav
      %ul.totals.info-panel
        %li Totale ore stimate
        %li#taxable-income.amount
          = @job_order.total_estimated_hours
        %li Ore effettuate
        %li#taxable-income.amount
          = @job_order.total_executed_hours
    