%h1
  Commesse
%fieldset
  %legend &nbsp;
%table.table.table-striped.table-bordered
  %thead
    %tr
      %td Code
      %td Customer
      %td Hourly Rate
      %td Status (done/total)
      %td 
  %tbody
    -@job_orders.each do |job|
      %tr
        %td 
          = link_to job.code, edit_job_order_path(job)
        %td 
          = job.customer.name
        %td.right
          = job.hourly_rate
        %td.right
          = "#{job.total_executed_hours}/#{job.total_estimated_hours}"
        %td
          %a{:href=> job_order_path(job), :class => 'delete' } 
            %i.icon-trash

  = content_for :side_bar do
    .well.sidebar-nav
      %ul.info-panel
        %li
          = link_to 'nuova commessa', new_job_order_path , {:class => 'btn btn-primary'}
        %li
          %a{href: job_orders_path + "/?archived=yes", class: 'archived-job-order, btn btn-primary'}
            commesse archiviate
