.row
  .col-lg-12
    %h2 
      = t('views.job_orders.title')

.row
  .col-lg-9        
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th
          %th 
            = t('views.job_orders.code')
          %th 
            = t('views.job_orders.customer')
          %th 
            = t('views.job_orders.hourly_rate')
          %th 
            = t('views.job_orders.status')
          %th 
            = t('views.job_orders.earn')
          %th
      %tbody
        -@job_orders.each do |job|
          %tr
            %td
              - if job.warning?
                %span.label.label-danger !
            %td 
              = job.code
            %td 
              = job.customer.name
            %td
              %span.pull-right 
                = job.hourly_rate
            %td
              %span.pull-right 
                = "#{job.total_executed_hours}/#{job.total_estimated_hours}"
            %td
              %span.pull-right 
                = job_order_cost_status_helper(job)
            %td
              .btn-group
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
                  = t('views.job_orders.actions') 
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a{:href=> edit_job_order_path(job)} 
                      %i.icon-edit
                      = t('views.job_orders.edit')
                  %li
                    %a{:href=> job_order_activities_path(job)}
                      %i.icon-list.icon-large
                      = t('views.job_orders.activities')
                  %li
                    %a{:href=> job_order_path(job), :class => 'delete' } 
                      %i.icon-trash.icon-large
                      = t('views.job_orders.delete')
  .col-lg-3
    .row.sidebar-row
      = link_to t('views.job_orders.new_job_order'), new_job_order_path, {:class => 'btn btn-info btn-block btn-lg'}
      %a{href: job_orders_path + "/?archived=yes", class: 'archived-job-order btn btn-default btn-block btn-lg'}
        = t('views.job_orders.archived_job_orders')
    .row.sidebar-row
      .panel.panel-default
        .panel-heading
          %h3.panel-title.text-center 
            = t('views.job_orders.summary')
        .panel-body
          %ul.info-panel
            %li.header 
              = t('views.job_orders.active_job_orders')
            %li.amount
              = @job_orders.where(:archived => false).count
            %li.header 
              = t('views.job_orders.estimated_hours')
            %li.amount
              = @job_orders.to_a.sum(&:total_estimated_hours)
            %li.header 
              = t('views.job_orders.done_hours')
            %li.amount
              = @job_orders.to_a.sum(&:total_executed_hours)
                    
