%fieldset
  %legend 
    = t('views.job_orders.title')
  
  = render 'form'


= content_for :side_bar do
  .well.sidebar-nav
    %ul.totals.info-panel
      %li 
        = t('views.job_orders.total_hours')
      %li#taxable-income.amount
    %hr
    %ul.info-panel
      %li
        %a.btn.btn-primary#save-form 
          = t('views.job_orders.save')
