.row
  .col-lg-12
    %h2 
      = t('views.weekly_activity.title')
%form.form-inline{'ng-controller' => 'WeeklyActivity'}      
  .form-group
    %a{:href => "/weekly_activities?startday=#{@startday - 7.days}", :class => 'btn btn-default'}
      prev
  
  .form-group
    %label 
      week: 
      = @startday.strftime("%d/%m/%Y")
    
  .form-group
    %a{:href => "/weekly_activities?startday=#{@startday + 7.days}", :class => 'btn btn-default'}
      next
  .row
    .col-lg-10{'ng-controller' => 'WeeklyActivity'}
      %table{:class => 'table'}
        %thead
          %tr
            %td JobOrder
            %td Activity
            - @week.each do |d|
              %td 
                = d.strftime("%a %e")
        %tbody
          %tr{'ng-repeat' => 'row in rows', 'ng-include' => "'weekRow.html'" }
          
        %tfooter
          %tr
            %td
              %a{:href=>'#', 'ng-click' => 'addRow()'}
                new
            %td
            - 7.times do |d|
              %td
                = raw("<span ng-bind=\"totals[#{d}]\" />")
      %button{:class => 'form-control btn btn-default', 'ng-click' => 'save()' }
        save
  
%script{:type => "text/ng-template", :id  => "weekRow.html"}
  %td
    = select_tag :job_order, '', 'ng-model' => 'row.job_order_id', 'ng-options' => 'j.id as j.code for j in jobOrders', :class => 'form-control', 'ng-change' => 'loadActivities($index, row.job_order_id)'
  %td
    = select_tag :activity, '', 'ng-model' => 'row.activity_id', 'ng-options' => 'j.id as j.description for j in row.activities', :class => 'form-control'
  - 7.times do |d|
    %td.weekly-td
      = text_field_tag "day_#{d}", '', :class => 'form-control weekly-hour', 'ng-model' => "row.hours[#{d}]" , 'ng-change' => 'updateTotals()'
  

