.row
  = form_for @invoice, {:html => {:class => 'form-horizontal'}} do |f|
    .col-md-5
      .field.control-group
        = f.label :number, :class => 'control-label'
        .controls
          = f.text_field :number, :class => 'input-small'
      .field.control-group
        = f.label :customer, :class => 'control-label'
        .controls
          = f.text_field :customer, :class => 'input-medium'          
      %fieldset
        %legend Totali
        .field.control-group
          = f.label :total, :class => 'control-label'
          .controls
            = f.text_field :total, :class => 'input-medium'
        .field.control-group
          = f.label :tax, :class => 'control-label'
          .controls
            = f.text_field :tax, :class => 'input-medium'
        .field.control-group
          = f.label :taxable_income, :class => 'control-label'
          .controls
            = f.text_field :taxable_income, :class => 'input-medium'
    .col-md-5
      .field.control-group
        = f.label :date, :class => 'control-label'
        .controls
          = f.text_field :date, :class => 'isdate input-medium'

    