.row
  = form_for @invoice, {:html => {:class => 'form-horizontal'}} do |f|
    .span3
      .field.control-group
        = f.label :number, :class => 'control-label'
        .controls
          = f.text_field :number, :class => 'span1'
      .field.control-group
        = f.label :customer, :class => 'control-label'
        .controls
          = f.text_field :customer, :class => 'span5'          
      %fieldset
        %legend totals
        .field.control-group
          = f.label :total, :class => 'control-label'
          .controls
            = f.text_field :total, :class => 'span2'
        .field.control-group
          = f.label :tax, :class => 'control-label'
          .controls
            = f.text_field :tax, :class => 'span2'
        .field.control-group
          = f.label :taxable_income, :class => 'control-label'
          .controls
            = f.text_field :taxable_income, :class => 'span2'
      .actions
        = f.submit 'Save', :class => 'btn btn_primary'
    .span2
      .field.control-group
        = f.label :date, :class => 'control-label'
        .controls
          = f.text_field :date, :class => 'date span2'

    