%h1
  Fatture in ingresso
%fieldset
  %legend &nbsp;
  %form.well.form-inline
    Month:
    = select_month(@filter_date, :field_name => 'month', :class => 'input-small')
    Year
    = select_year(@filter_date, :field_name => 'year', :class => 'input-small')
    %button.btn{:type => 'submit'} apply

%table.table.table-striped.table-bordered
  %thead
    %tr
      %td Numero
      %td Data
      %td Cliente
      %td.right Imponibile
      %td.right Iva
      %td.right Totale
  %tbody
    -@invoices.each do |i|
      %tr
        %td 
          = i.number
        %td 
          = i.date
        %td
          = i.customer
        %td.right
          = number_to_currency(i.taxable_income)
        %td.right
          = number_to_currency(i.tax)
        %td.right
          = number_to_currency(i.total)
        %td
          %a{:href=> inbound_invoice_path(i), :class => 'delete' } 
            %i.icon-trash


  = content_for :side_bar do
    .well.sidebar-nav
      = link_to 'nuova fattura', new_inbound_invoice_path , {:class => 'btn btn-primary'}
      %ul.totals.info-panel
        %li Imponibile
        %li.taxable-income.amount
          = number_to_currency(@totals.taxable_income)
        %li Iva
        %li.tax.amount
          = number_to_currency(@totals.tax)
        %li Totale
        %li.total.amount
          = number_to_currency(@totals.total)
        