%div{'ng-controller' => 'TrackerCtrl'}
  .row-fluid
    .span3
      = select_tag :job_order, '', 'ng-model' => 'job_order_id', 'ng-options' => 'j.id as j.code for j in jobOrders'
    .span3
      = select_tag :activity, '', 'ng-model' => 'job_order_activity_id', 'ng-options' => 'j.id as j.description for j in jobOrderActivities'
    .span4
      %textarea{'ng-model' => 'notes'}
    .span2
      %button.btn.btn-block{'ng-click' => 'start()', 'class' => '{{cssClass}}'} {{operation}}
  .row-fluid
    .span12.well
      %h2.text-center {{timer}}
  .row-fluid
    .span12
      %table.table.table-bordered
        %thead
          %tr
            %th Commessa
            %th Attività
            %th Note
            %th Tempo
            %th
        %tbody
          %tr{'ng-repeat' => 'a in activities', 'row-color' => '{{$index}}'}
            %td
              {{a.jobOrder}}
            %td
              {{a.activity}}
            %td
              {{a.notes}}
            %td
              {{a.time}}
            %td
              %button.btn{'ng-click' => 'start(a)'} Riprendi
              
  = content_for :side_bar do
    .well.sidebar-nav{'ng-controller' => 'TrackerSideBarCtrl'}
      %button.btn.btn-block{'ng-click' => 'saveAll()'} salva tutto
      %br
      %button.btn.btn-block{'ng-click' => 'deleteAll()'} cancella tutto
      %hr
      %ul.totals.info-panel
        %li bla
        %li.taxable-income.amount
          = 123
        %li blu
        %li.tax.amount
          = 456
        %li bli
        %li.total.amount
          = 789