!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Scrooge"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body{'ng-app' => 'Scrooge'}
    %nav.navbar.navbar-default.navbar-fixed-top{:role=>"navigation"}
      .navbar-header
        %a.navbar-brand{:href =>"#"} SCROOGE
      .collapse.navbar-collapse.navbar-ex1-collapse
        -if user_signed_in?
          %ul.nav.navbar-nav
            %li= link_to "Attività", "/user_activities"
            %li= link_to "Tracker", "/activities_tracker"
            - if current_user.admin?
              %li= link_to 'Dashboard', "/dashboard"
              %li= link_to 'Fatture', "/invoices"
              %li= link_to 'Fatture passive', "/inbound_invoices"
              %li= link_to 'Commesse', "/job_orders"
              %li= link_to 'Gestione tabelle', "/admin"
            %li= link_to 'Logout', destroy_user_session_path, :method => :delete
                   

    .container.wrap
      = yield
      #push
    #footer
      .container
        %p.muted.credit CodicePlastico
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
